.DS_Store
.idea
.vscode
.ddev/*
!.ddev/config.yaml.dist
!.ddev/docker-compose.browsersync.yaml

/packages/*/Resources/*

test/*
!test/ddev-test.sh
!test/standalone-test.sh

/public/*
!/public/.htaccess*
config/system/settings.php
!/public/robots.txt

node_modules/
var/certs
.env
composer.lock
composer.json
package-lock.json
config/sites/t3-template
# for DB dumps
/*.csv
/*.sql
/dump
/*.zip
/*.zip.httpheaders
