.DS_Store
.idea
.vscode
.ddev/*
!.ddev/config.yaml.dist

/var/*
/vendor
/packages/*/Resources/*

/public/*
!/public/.htaccess*
!/public/fileadmin/design
!/public/.user.ini
!/public/crawler
!/public/typo3conf
!/public/robots.txt
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php.dist
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/ConfigurationLoader.php

node_modules/

.env
# for DB dumps
/*.csv
/*.sql
/dump
/*.zip
/*.zip.httpheaders
