.DS_Store
.idea
.vscode
.ddev/*
!.ddev/config.yaml.dist

/var/*
/vendor
/packages/mono_site/Resources/Public
/packages/mono_site/Resources/Private/*
!/packages/mono_site/Resources/Private/Language


/public/*
!/public/.htaccess*
!/public/fileadmin/design
!/public/.user.ini
!/public/crawler
!/public/typo3conf
!/public/robots.txt
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php.dist
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/ConfigurationLoader.php

node_modules/

.env
# for DB dumps
/*.csv
/*.sql
/dump
/*.zip
/*.zip.httpheaders

#vdiff
fetest/vdiff


/01_SCRIPTS

/01_SCRIPTS/grunt/local.json
/01_SCRIPTS/grunt/io/*
/01_SCRIPTS/grunt/.htpasswd

